h4{
    color:#0f0;
    font-size:90px;
    background:#00f;
    text-indent:2em;
}
#mm{
    color:#f00;
    background:#ff0;
    font-size:60px;
    text-indent:3em;
}

.red{
    color:red;
}
.blue{
    color:blue;
}
#colortext{
    color:purple;
    font-size:70px;
}
#fontchange{
    font-size:70px;
}
a#fontchange:link{
    font-family:Mistral,serif;
    color:hotpink;
}
#fontchange:visited{
    color:dimgray;
    text-decoration:underline;
}
#fontchange:hover{
    font-family:"Berlin Sans FB",serif;
    color:deepskyblue;
}
#fontchange:active{
    color:chartreuse;
}
#shouzimu{

}
p#shouzimu::first-letter{
    font-family: Cambria,serif;
    font-size:40px;
}

